.DS_Store
engine_controler/realm/config.js
.env*
node_modules
**/**.pyc
**/.venv
**/node_modules
**/__pycache__

.vscode

# Deployment
docker-compose-ecs.yml
docker-compose.yml
Makefile
ecs-params.yml
policy.json