/* page.module.css */
.page {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the gap between the expandable cards as needed */
}

.modulesContainer {
  display: flex;
  width: 100%;
}

.module {
  flex: 1;
  padding: 10px; /* Optional: Add some padding for better spacing */
}
